<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ttttt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D29A1AF81CCE3CFC0058A9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D29A1B0C1CCE3CFC0058A9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D29A1B171CCE3CFC0058A9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
